/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Reset code & font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Root part */

:root {
  /* Dark mode */

  --primary-back-color-bg: #080808;
  --primary-back-color-header: #080808d2;
  --primary-color: white;
  --second-color: #8bf8e4;
  --hire-me-btn-color: #122023;
  --pfp-bg-shadow: #00fbff;
  --dot-bg-color: #8af9ea;
  --desc-color: #757575;
  --section-title-font-size: 44px;
  --service-element-bg: #8bfaed;
  --testimonials-bg-color: #131313;
  --star-color: yellow;
  --testimonials-element-bg-color: #060606;
  --footer-bg-color: #131313;

  /* Light mode */
  --light-primary-back-color-bg: #f9f9f9;
  --light-primary-back-color-header: #ffffffd2;
  --light-primary-color: #080808;
  --light-second-color: #00bfa5;
  --light-hire-me-btn-color: #e0f2f1;
  --light-pfp-bg-shadow: #00bfa5;
  --light-dot-bg-color: #00bfa5;
  --light-desc-color: #5f5f5f;
  --light-section-title-font-size: 44px;
  --light-service-element-bg: #e0f7fa;
  --light-testimonials-bg-color: #ffffff;
  --light-star-color: #ffb400;
  --light-testimonials-element-bg-color: #f5f5f5;
  --light-footer-bg-color: #060505;
}
header {
  .sidebar {
    position: absolute;
    transform: translateY(-400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    gap: 6px;
    border-top: 1px solid var(--hire-me-btn-color);
    border-bottom: 1px solid var(--hire-me-btn-color);
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    transition: 0.4s ease;
    background-color: var(--hire-me-btn-color);
    > .sidebar-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
      > .lang-btn-mobile {
        font-size: 14px;
        color: white;
        font-weight: 600;
        padding: 7px 10px;
        border-radius: 10px;
        border: 1px solid var(--dot-bg-color);
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;
          background-color: var(--pfp-bg-shadow);
          color: var(--primary-color);
        }
      }
      > .darkLight-mobile {
        font-size: 14px;
        color: white;
        font-weight: 600;
        padding: 10px 14px;
        border-radius: 10px;
        border: 1px solid var(--dot-bg-color);
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;
          background-color: var(--pfp-bg-shadow);
          color: var(--primary-color);
        }
      }
    }
    > a {
      color: white;
      font-weight: 600;
      position: relative;
      transition: 0.4s ease;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--light-dot-bg-color);
      &:hover {
        cursor: pointer;
        color: var(--light-dot-bg-color);
      }
      &::after {
        content: "";
        width: 0%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        background-color: var(--light-dot-bg-color);
        transition: 0.4s ease;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .sidebarActive {
    position: absolute;
    position: fixed;
    z-index: 99;
    transform: translateY(80px);
  }
  .navbar {
    position: sticky;

    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--primary-back-color-header);
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    gap: 3px;

    > .logo {
      > p {
        font-weight: 600;
        font-size: 22px;
        color: white;
        > span {
          color: var(--second-color);
        }
      }
    }
    > .navLinks {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      > a {
        font-weight: 600;
        color: var(--primary-color);
        position: relative;
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;
          color: var(--second-color);
        }
        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 1.5px;
          border-radius: 20px;
          background-color: var(--second-color);
          left: 0;
          bottom: 0;
          transition: 0.4s ease;
        }
        &:hover::after {
          width: 100%;
        }
        &:active::after {
          width: 100%;
        }
      }
      /* > .active {
        position: relative;
        color: var(--second-color);
      }
      > .active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        border-radius: 20px;
        background-color: var(--second-color);
        left: 0;
        bottom: 0;
      } */
    }
    > .bars {
      display: none;
    }

    > .rightPart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      > .lang-btn {
        font-size: 18px;
        color: white;
        font-weight: 600;
        padding: 7px 10px;
        border-radius: 10px;
        border: 1px solid var(--dot-bg-color);
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;
          background-color: var(--pfp-bg-shadow);
          color: var(--primary-color);
        }
      }
      > .darkLight {
        font-size: 18px;
        color: white;
        font-weight: 600;
        padding: 12px 14px;
        border-radius: 10px;
        border: 1px solid var(--dot-bg-color);
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;
          background-color: var(--pfp-bg-shadow);
          color: var(--primary-color);
        }
      }
    }
  }
}

/* Body style */
body {
  /* Header style */

  background: var(--primary-back-color-bg);
  transition: 0.6s ease;
  > .hero {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1370px;
    height: 600px;
    > .leftPart {
      > .name-title {
        padding-bottom: 10px;
        > h1 {
          color: var(--primary-color);
          font-size: 36px;
          > span {
            color: var(--second-color);
            text-shadow: 1px 1px 20px var(--second-color);
          }
        }
      }
      > .job-title {
        color: var(--primary-color);
        padding-bottom: 10px;
        min-width: 280px;
        > h2 {
          > span {
            position: relative;
            &::before {
              content: "Web Developer";
              color: var(--second-color);
              animation: words 50s infinite;
            }
            &::after {
              content: "";
              position: absolute;
              width: calc(100% + 8px);
              background-color: black;
              height: 100%;
              border-left: 3px solid var(--second-color);
              right: -8px;
              animation: blink 0.6s infinite, typing 10s steps(14) infinite;
            }
          }
        }
      }
      > .desc-about-me {
        color: var(--primary-color);
        width: 100%;
        width: 580px;
      }
      > .social-medias-icons {
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--second-color);
        > a {
          color: var(--second-color);
          > i {
            font-size: 16px;
            padding: 5px 6px;
            border-radius: 100%;
            border: 1px solid var(--second-color);
            transition: 0.4s ease;
            &:hover {
              cursor: pointer;
              background-color: var(--second-color);
              color: var(--primary-color);
            }
          }
        }
      }
      > .hero-buttons {
        padding-top: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        font-weight: 500;
        > .hire-btn {
          background-color: var(--second-color);
          padding: 7px 20px;
          border-radius: 30px;
          color: var(--hire-me-btn-color);
          border: 1px solid var(--second-color);
          box-shadow: 1px 1px 20px var(--second-color);
        }
        > .contact-btn {
          color: var(--second-color);
          padding: 7px 20px;
          border-radius: 30px;
          border: 1px solid var(--second-color);
          transition: 0.4s ease;
          &:hover {
            cursor: pointer;
            background-color: var(--second-color);
            color: var(--hire-me-btn-color);
          }
        }
      }
    }
    > .rightPart {
      > img {
        border-radius: 100%;
        height: 420px;
        box-shadow: 0px 0px 60px var(--pfp-bg-shadow);
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 120px var(--pfp-bg-shadow);
        }
      }
    }
  }
  /* > .education {
    width: 100%;
    height: 1600px;
    background-color: #131313;
    margin: 0 auto;
    > h1 {
      text-align: center;
      padding-top: 50px;
      margin-bottom: 80px;
      color: var(--primary-color);
      font-size: var(--section-title-font-size);
    }
    > .education-content {
      position: relative;
      margin: 0 auto;
      width: 1370px;
      > .base-line {
        width: 6px;
        height: 1150px;
        background-color: var(--pfp-bg-shadow);
        box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
        border-radius: 10px;
        margin: 70px auto;
      }
      > .dot {
        position: absolute;
        height: 20px;
        width: 20px;
        right: 675px;
        top: 200px;
        border-radius: 100%;
        background-color: var(--dot-bg-color);
      }
      > .first {
        top: 100px;
      }
      > .university {
        width: 380px;
        padding: 25px 30px;
        border-radius: 80px;
        border: 2px solid var(--pfp-bg-shadow);
        box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
        background-color: var(--primary-back-color-bg);
        text-align: right;
        position: absolute;
        top: 130px;
        left: 290px;
        .title {
          color: var(--primary-color);
          font-size: 14px;
          font-weight: 600;
        }
        .desc {
          width: 400px;
          color: var(--desc-color);
          padding-top: 10px;
          font-weight: 500;
          font-size: 10px;
          max-width: 100%;
        }
      }
      > .second {
        top: 380px;
      }
      > .texnoera {
        width: 380px;
        padding: 25px 30px;
        border-radius: 80px;
        border: 2px solid var(--pfp-bg-shadow);
        box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
        background-color: var(--primary-back-color-bg);
        text-align: left;
        position: absolute;
        top: 430px;
        left: 730px;
        .title {
          color: var(--primary-color);
          font-size: 14px;
          font-weight: 600;
        }
        .desc {
          width: 400px;
          color: var(--desc-color);
          padding-top: 10px;
          font-weight: 500;
          font-size: 10px;
          max-width: 100%;
        }
      }
      > .third {
        top: 650px;
      }
      > .turing {
        width: 380px;
        padding: 25px 30px;
        border-radius: 80px;
        border: 2px solid var(--pfp-bg-shadow);
        box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
        background-color: var(--primary-back-color-bg);
        text-align: right;
        position: absolute;
        top: 680px;
        left: 290px;
        .title {
          color: var(--primary-color);
          font-size: 14px;
          font-weight: 600;
        }
        .desc {
          width: 400px;
          color: var(--desc-color);
          padding-top: 10px;
          font-weight: 500;
          font-size: 10px;
          max-width: 100%;
        }
      }
      > .fourth {
        top: 950px;
      }
      > .matrix {
        width: 380px;
        padding: 25px 30px;
        border-radius: 80px;
        border: 2px solid var(--pfp-bg-shadow);
        box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
        background-color: var(--primary-back-color-bg);
        text-align: left;
        position: absolute;
        top: 1000px;
        left: 730px;
        .title {
          color: var(--primary-color);
          font-size: 14px;
          font-weight: 600;
        }
        .desc {
          width: 400px;
          color: var(--desc-color);
          padding-top: 10px;
          font-weight: 500;
          font-size: 10px;
          max-width: 100%;
        }
      }
    }
  } */
  .services {
    width: 100%;
    height: 650px;
    > h1 {
      text-align: center;
      color: var(--primary-color);
      font-size: var(--section-title-font-size);
      margin-top: 70px;
      margin-bottom: 40px;
    }
    > .my-services {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      > .row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        > .service {
          width: 500px;
          height: 180px;
          padding-top: 20px;
          padding-left: 20px;
          background-color: var(--pfp-bg-shadow);
          border-radius: 20px;
          border: 3px solid var(--pfp-bg-shadow);
          transition: 0.4s ease;
          > .title {
            font-size: 18px;
            font-weight: 600;
          }
          > .desc {
            width: 400px;
            font-size: 10px;
            max-width: 100%;
            padding-top: 20px;
          }
          &:hover {
            cursor: pointer;
            background-color: var(--primary-color);
          }
        }
      }
    }
  }
  .testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 450px;

    background-color: var(--testimonials-bg-color);
    > h1 {
      text-align: center;
      padding-top: 50px;
      margin-bottom: -320px;
      font-size: var(--section-title-font-size);
      color: var(--primary-color);
    }
    .swiper {
      width: 100%;
      max-width: 1200px;
      display: flex;
      height: 100%;
      margin-bottom: 120px;
      justify-content: center;
      overflow: hidden;
      .swiper-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
      }
      .swiper-slide {
        width: 320px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--desc-color);
        border-radius: 10px;
        gap: 20px;
        background-color: var(--testimonials-element-bg-color);
        > img {
          height: 90px;
          width: 90px;
          object-fit: cover;
          border-radius: 100%;
          border: 2px solid var(--second-color);
          box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
        }
        > .reviewer-name {
          font-size: 20px;
          font-weight: 600;
          color: var(--primary-color);
        }
        > .stars {
          font-size: 12px;
          color: var(--star-color);
        }
        > .desc {
          text-align: center;
          color: var(--primary-color);
          font-size: 10px;
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    > h1 {
      color: white;
      font-size: var(--section-title-font-size);
      text-align: center;
      margin-top: -70px;
      > span {
        color: var(--second-color);
      }
    }
    > .map {
      margin-top: 70px;
      > iframe {
        width: 1000px;
        height: 500px;
        opacity: 0.25;
        transition: 0.4s ease;
        border-radius: 10px;
        position: relative;
        border: 3px solid var(--dot-bg-color);
        box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
        &:hover {
          opacity: 0.9;
        }
        &:active {
          opacity: 0.9;
        }
      }
    }
    > form {
      display: flex;
      justify-content: center;
      width: 1000px;
      margin-top: 100px;
      gap: 80px;
      > .leftPart {
        display: flex;
        flex-direction: column;
        gap: 20px;
        > input {
          color: var(--primary-color);
          padding-left: 10px;
          width: 400px;
          height: 55px;
          border: none;
          font-size: 16px;
          border-radius: 10px;
          background-color: transparent;
          border: 3px solid var(--dot-bg-color);
          &:focus {
            outline: none;
          }
        }
      }
      > .rightPart {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        > textarea {
          min-height: 250px;
          height: 100%;
          max-height: 150px;
          height: 100%;
          background-color: transparent;
          border: 3px solid var(--dot-bg-color);
          font-size: 14px;
          resize: none;
          width: 500px;
          border-radius: 10px;
          padding-left: 15px;
          padding-top: 20px;
          color: var(--primary-color);

          &:focus {
            outline: none;
          }
        }
        > button {
          padding: 8px 12px;
          border-radius: 10px;
          border: none;
          font-weight: 500;
          background-color: var(--dot-bg-color);
          transition: 0.4s ease;
          &:hover {
            cursor: pointer;
            box-shadow: 1px 1px 20px var(--pfp-bg-shadow);
          }
        }
      }
    }
  }
}

/* Dark mode style */
.light {
  background: var(--light-primary-back-color-bg);
  > .hero {
    > .leftPart {
      > .name-title {
        > h1 {
          color: var(--light-primary-color);
          > span {
            color: var(--light-second-color);
            text-shadow: 1px 1px 20px var(--light-second-color);
          }
        }
      }
      > .job-title {
        color: var(--light-primary-color);
        > h2 {
          > span {
            &::before {
              color: var(--light-second-color);
            }
            &::after {
              background-color: var(--light-primary-back-color-bg);
              border-left: 3px solid var(--light-second-color);
            }
          }
        }
      }
      > .desc-about-me {
        color: var(--light-primary-color);
      }
      > .social-medias-icons {
        color: var(--light-second-color);
        > a {
          color: var(--light-second-color);
          > i {
            border: 1px solid var(--light-second-color);
            &:hover {
              background-color: var(--light-second-color);
              color: var(--light-primary-color);
            }
          }
        }
      }
      > .hero-buttons {
        > .hire-btn {
          background-color: var(--light-second-color);
          color: var(--light-hire-me-btn-color);
          border: 1px solid var(--light-second-color);
          box-shadow: 1px 1px 20px var(--light-second-color);
        }
        > .contact-btn {
          color: var(--light-second-color);
          border: 1px solid var(--light-second-color);
          &:hover {
            background-color: var(--light-second-color);
            color: var(--light-hire-me-btn-color);
          }
        }
      }
    }
    > .rightPart {
      > img {
        box-shadow: 0px 0px 60px var(--light-pfp-bg-shadow);
        &:hover {
          box-shadow: 0px 0px 120px var(--light-pfp-bg-shadow);
        }
      }
    }
  }
  > .education {
    background-color: #131313;
    > h1 {
      color: var(--light-primary-back-color-bg);
      font-size: var(--light-section-title-font-size);
    }
    > .base-line {
      background-color: var(--light-pfp-bg-shadow);
      box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
    }
    > .dot {
      background-color: var(--light-dot-bg-color);
    }
    > .university {
      border: 2px solid var(--light-pfp-bg-shadow);
      box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
      background-color: var(--light-primary-back-color-bg);
      .title {
        color: var(--light-primary-color);
      }
      .desc {
        color: var(--light-desc-color);
      }
    }
    > .texnoera {
      border: 2px solid var(--light-pfp-bg-shadow);
      box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
      background-color: var(--light-primary-back-color-bg);
      .title {
        color: var(--light-primary-color);
      }
      .desc {
        color: var(--light-desc-color);
      }
    }
    > .turing {
      border: 2px solid var(--light-pfp-bg-shadow);
      box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
      background-color: var(--light-primary-back-color-bg);
      .title {
        color: var(--light-primary-color);
      }
      .desc {
        color: var(--light-desc-color);
      }
    }
    > .matrix {
      border: 2px solid var(--light-pfp-bg-shadow);
      box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
      background-color: var(--light-primary-back-color-bg);
      .title {
        color: var(--light-primary-color);
      }
      .desc {
        color: var(--light-desc-color);
      }
    }
  }
  .services {
    > h1 {
      color: var(--light-primary-color);
      font-size: var(--light-section-title-font-size);
    }
    > .my-services {
      > .row {
        > .service {
          background-color: var(--light-pfp-bg-shadow);
          border: 3px solid var(--light-pfp-bg-shadow);
          &:hover {
            cursor: pointer;
            background-color: var(--light-primary-back-color-bg);
          }
        }
      }
    }
  }
  .testimonials {
    background-color: #131313;
    > h1 {
      font-size: var(--light-section-title-font-size);
      color: var(--light-primary-back-color-bg);
    }
    .swiper {
      .swiper-slide {
        border: 1px solid var(--light-desc-color);
        background-color: var(--light-testimonials-element-bg-color);
        > img {
          border: 2px solid var(--light-second-color);
          box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
        }
        > .reviewer-name {
          color: var(--light-primary-color);
        }
        > .stars {
          color: var(--light-star-color);
        }
        > .desc {
          color: var(--light-primary-color);
        }
      }
    }
  }
  .contact {
    background-color: #131313;
    > h1 {
      color: white;

      font-size: var(--light-section-title-font-size);
      > span {
        color: var(--light-second-color);
      }
    }
    > .map {
      > iframe {
        border: 3px solid var(--light-dot-bg-color);
        box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
      }
    }
    > form {
      > .leftPart {
        > input {
          color: var(--primary-color);
          border: 3px solid var(--light-dot-bg-color);
        }
      }
      > .rightPart {
        > textarea {
          color: var(--primary-color);
          border: 3px solid var(--light-dot-bg-color);
        }
        > button {
          background-color: var(--light-dot-bg-color);
          &:hover {
            box-shadow: 1px 1px 20px var(--light-pfp-bg-shadow);
          }
        }
      }
    }
  }
  footer {
    background-color: var(--light-footer-bg-color);
    > .social-medias-icons {
      padding-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: var(--second-color);
      > a {
        color: var(--second-color);
        > i {
          font-size: 16px;
          padding: 5px 6px;
          border-radius: 100%;
          border: 1px solid var(--second-color);
          transition: 0.4s ease;
          &:hover {
            cursor: pointer;

            background-color: var(--second-color);
            color: var(--primary-color);
            transform: translateY(-10px);
          }
        }
      }
    }
    > .short_cuts {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      > a {
        font-weight: 400;
        position: relative;
        color: var(--primary-color);
        &::after {
          content: "";
          position: absolute;
          background-color: var(--light-pfp-bg-shadow);
          height: 1px;
          bottom: 0;
          left: 0;
          width: 0%;
          border-radius: 10px;
          transition: 0.5s ease;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    > .copy_right {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 12px;
      color: var(--primary-color);
    }
  }
}

/* Footer style */
footer {
  height: 180px;
  width: 100%;
  background-color: var(--footer-bg-color);
  > .social-medias-icons {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--second-color);
    > a {
      color: var(--second-color);
      > i {
        font-size: 16px;
        padding: 5px 6px;
        border-radius: 100%;
        border: 1px solid var(--second-color);
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;

          background-color: var(--second-color);
          color: var(--primary-color);
          transform: translateY(-10px);
        }
      }
    }
  }
  > .short_cuts {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    > a {
      font-weight: 400;
      color: var(--primary-color);
      position: relative;
      color: var(--primary-color);
      &::after {
        content: "";
        position: absolute;
        background-color: var(--light-pfp-bg-shadow);
        height: 1px;
        bottom: 0;
        left: 0;
        width: 0%;
        border-radius: 10px;
        transition: 0.5s ease;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  > .copy_right {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    color: var(--primary-color);
  }
}

/* Cursor animations */

@keyframes blink {
  to {
    border-left: 2px solid var(--second-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Front-end Developer";
  }
  21%,
  40% {
    content: "UX / UI Designer";
  }
  41%,
  60% {
    content: "Enterpreneur";
  }
  61%,
  80% {
    content: "IT Project Manager";
  }
  81%,
  100% {
    content: "IT Student";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  70%,
  75%,
  90% {
    width: 0;
  }
  5%,
  20%,
  40%,
  45%,
  60%,
  65%,
  90%,
  85% {
    width: calc(100%+ 8px);
  }
}

/* Responsive design */

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  header {
    position: relative;

    .navbar {
      margin: 0 auto;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      > .navLinks {
        display: none;
      }
      > .rightPart {
        display: none;
        > .mobile-menu {
          background-color: red;
          height: 300px;
          width: 300px;
        }
      }
      > .bars {
        display: block;
        font-size: 22px;
        color: var(--dot-bg-color);
      }
    }
  }

  body {
    width: 100% !important;
    .hero {
      flex-direction: column-reverse;
      margin-top: 100px;
      width: 100% !important;
      height: 700px;
      > .leftPart {
        > .name-title {
          text-align: left;
          padding-left: 20px;
          > h1 {
            font-size: 40px;
            padding-top: 40px;
          }
        }
        > .job-title {
          margin-top: -15px;
          text-align: left;
          font-size: 12px;
          padding-left: 22px;
        }
        > .desc-about-me {
          text-align: left;
          padding-left: 20px;
          font-size: 11px;
          max-width: 400px;
          width: 100%;
        }
        > .social-medias-icons {
          padding-left: 18px;
        }
        > .hero-buttons {
          padding-left: 17px;
        }
      }
      > .rightPart {
        > img {
          height: 280px;
          width: 280px;
          box-shadow: 0px 0px 20px var(--pfp-bg-shadow);
          &:hover {
            box-shadow: 0px 0px 40px var(--pfp-bg-shadow);
          }
        }
      }
    }

    .services {
      height: 700px;
      width: 100%;
      margin-top: 120px;
      > h1 {
        font-size: 25px;
      }
      > .my-services {
        flex-direction: column;
        > .row {
          flex-direction: column;
          > .service {
            padding-left: 10px;
            padding-top: 20px;
            width: 350px;
            max-width: 100%;
          }
        }
      }
    }
    .testimonials {
      height: 650px;
      margin: 200px auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      > .swiper {
        margin: -120px auto;
        width: 100%;
        overflow: hidden;
        > .swiper-wrapper {
          height: 500px;
        }
      }
    }
    .contact {
      height: 1300px;
      width: 100%;
      margin: -200px auto;
      > .map {
        > iframe {
          width: 100%;
          height: 200px;
        }
      }
      > form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > .leftPart {
          > input {
            width: 340px;
          }
        }
        > .rightPart {
          > textarea {
            margin: 0 auto;
            min-width: 340px;
            width: 100%;
          }
        }
      }
    }
  }
  footer {
    margin-top: 200px;
    > .short_cuts {
      > a {
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
